<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nckh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".model.WifiApp"
        android:allowBackup="true"
        android:icon="@drawable/iconm"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/iconm"
        android:supportsRtl="true"
        android:theme="@style/Theme.NCKH"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.Tutorial_PM"
            android:exported="false" />
        <activity
            android:name=".Activity.Tutorial_AQI"
            android:exported="false" />
        <activity
            android:name=".Activity.QMK"
            android:exported="false" />
        <activity
            android:name=".Activity.Address_Us"
            android:exported="false" />
        <activity
            android:name=".Activity.Exportdata"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity android:name=".model.putnotification" />
        <activity android:name=".Activity.tintuc" />
        <activity
            android:name=".Activity.danhsachluu"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity android:name=".Activity.trangcanhan" />
        <activity android:name=".Activity.trangdangky" />
        <activity android:name=".Activity.tranghai" />
        <activity android:name=".Activity.tranghienthi" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCCM182LH2JhZbxulRHzrdcwiYIQdwcRns" />

        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Service.MyFirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Service.ConnectionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>